NEXT_PUBLIC_ASSESSMENT_API_URL=http://localhost:8001
NEXT_PUBLIC_MATCHING_API_URL=http://localhost:8002
NEXT_PUBLIC_REGISTRY_API_URL=http://localhost:8003
NEXT_PUBLIC_SCHEDULING_API_URL=http://localhost:8004
